.wrapper .mg-search-block,
.cat-title{
    background: #10C400;
    background: -moz-linear-gradient(top, #10C400 0%, #309D26 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10C400), color-stop(100%,#309D26));
    background: -webkit-linear-gradient(top,  #10C400 0%,#309D26 100%);
    background: -o-linear-gradient(top,  #10C400 0%,#309D26 100%);
    background: -ms-linear-gradient(top,  #10C400 0%,#309D26 100%);
    background: linear-gradient(to bottom,  #10C400 0%,#309D26 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10C400', endColorstr='#309D26',GradientType=0 );
    box-shadow: 0 3px 0 #295C11;
}

.wrapper .container .center .personal-tabs-list li.ui-state-active a,
.product-tabs li.active a{
    border-top: 3px solid #295C11;
}

.wrapper .ui-slider .ui-slider-range,
.wrapper .container .center .personal-tabs-list li a:hover,
.product-tabs li a:hover{
    background: #295C11;
}

.wrapper .mg-product-to-compare .mg-compare-count,
.wrapper .mg-desktop-cart .small-cart-icon .countsht{
    background: #295C11;
}

.product-wrapper .block-variants,
.m-p-products:hover .owl-buttons .owl-prev,
.m-p-products:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-prev,
.product-wrapper:hover{
    border: 1px solid #295C11;
}